@page
@model IndexModel
@{
    ViewData["Title"] = "Who is Michael Levan?";
}

<div class="text-center">
    <h1 class="display-4">Who is Michael Levan?</h1>
    <p>Michael Levan is an Engineer at heart. He is a Lead Engineer of DevOps and leads a team of DevOps Engineers in the US. Michael started out his career like most do, in helpdesk/desktop support. After realizing the different ways to automate his job, he quickly realized the next step to his career, DevOps and Cloud Engineering.</p>
    <p>After working as a Sysadmin managing Hyper-V, ESXi, and all-around Windows Infrastructure, he wanted to take the next step in his career. This led him to doing a complete 180 and moving into Linux and AWS. After not knowing much about this space, Michael buckled down, studied, and quickly became a Subject Matter Expert. After working with Linux, AWS, Python, Ansible, Containerization, Orchestration, and Web Applications, Michael started to become fascinated with the improvements that Microsoft was implementing in the same space that Linux and Open Source tooling have been in for so long. He took this opportunity to to do yet another 180 and come full-circle back to the Microsoft space to focus his efforts on practicing DevOps on the other side of the realm. This was what inspired him to write his book, DevOps Recipes With Azure on Leabpub. Michael's primary day-to-day as a Lead DevOps Engineer revolves around Configuration Management, Source Control, Azure, Azure DevOps, PowerShell, Python, .NET, Docker, Orchestration, Cloud Engineering, and helping the organization continuously deliver value to our end-users. He is a public speaker, blogger, author, all around technology enthusiast, and podcaster.</p>
    <p>His career started out in helpdesk and he knew he wanted to progress as fast as possible. Michael loved the field and there was so much to learn and so much to do. Because of that, he has done everything from desktop support to project management to sysadmin duties to network administration to security to cloud engineering to programming and everything in-between.</p>
</div>